.container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1vw;
}


.child {

    /* Centralizar na vertical e horizontal */
    position: absolute;
    top: 15%;
    left: 52%;

}

.container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1vw;
}

.child2 {

    /* Centralizar na vertical e horizontal */
    position: absolute;
    top: 15%;
    left: 66%;


}

.container3 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1vw;
}


.child3 {

    /* Centralizar na vertical e horizontal */
    position: absolute;
    top: 15%;
    left: 38%;


}

.container4 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1vw;
}


.child4 {

    /* Centralizar na vertical e horizontal */
    position: absolute;
    top: 15%;
    left: 25%;


}

.container5 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1vw;
}


.child5 {

    /* Centralizar na vertical e horizontal */
    position: absolute;
    top: 48%;
    left: 25%;


}

.container6 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1vw;
}


.child6 {

    /* Centralizar na vertical e horizontal */
    position: absolute;
    top: 48%;
    left: 39%;
    font-size: 1vw;

}

.container7 {

	display; flex;
	justify-content: center;
	align-items: center;
	font-size: 1vw;
}

.child7 {
	
	position: absolute;
	top: 70%;
	left: 66%;
	font-size: 1vw;
}

.container8 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1vw;
}


.child8 {

    /* Centralizar na vertical e horizontal */
    position: absolute;
    top: 48%;
    left: 52%;

}

button {
    font-size: 1vw;
    font-family: 'Roboto';

}

body {
   
    font-family: 'Roboto';
    padding-top: 15px;
    font-size: 1vw;
}

h2 {
    text-align: center;
}
