.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

 
.child {
   
    /* Centralizar na vertical e horizontal */
    position: absolute;
    top: 30%;
    left: 50%;
    /* aplique margens superior e esquerda negativas para centralizar o elemento */
    margin: -25px 0 0 -25px;
    
}

